
/* =====================================================
   CORES
===================================================== */

:root {

    --gold: #d5aa55;
    --gold-light: #ecd28d;
    --gold-dark: #92702e;

    --black: #080909;
    --card: rgba(12, 13, 13, .86);

    --white: #f6f3eb;
    --muted: rgba(246, 243, 235, .72);

}